#servicos{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 35rem;
    padding: 2rem 0rem;
    background-color: #f0be8f;
}

#servicos_main{
    display:flex;
    max-height: fit-content;
    max-width: fit-content;

    justify-content: space-around;
    align-items: stretch;
}

.servicos_servico{
    max-width: 20rem;
}

.servicos_servico h2{    
    color: white;
    font-weight: 800;
    font-size: 2rem;
    animation: aparece_texto 1s ease-out .5s 1 normal forwards;
}

.servicos_servico p{
    display: block;
    font-weight: 800;
    margin-bottom: 0.5rem;
    animation: aparece_texto 1s ease-out .5s 1 normal forwards;
}

.servicos_servico img{
    float: left;
    max-width: 4rem;
    max-height: 10rem;
}

.servicos_textos{
    display: flex;
    flex-direction: column;
}

@media all and (max-width: 912px){
    #servicos{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 60rem;
        padding: 2rem 0rem;
        background-color: #f0be8f;
    }
    
    #servicos_main{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    
}