#sobre{
    width: 100%;
    height: fit-content;
    padding: 3rem 0rem;

    background-image: url("../imagens_selecionadas/sobrecomp.png");
    background-repeat: no-repeat;
    background-position: -300px -20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

#sobre_main{
    display: flex;
    height:fit-content;
    width: fit-content;

    align-items: center;
    justify-content: center;
    gap: 6rem;
}

#sobre_main img{
    max-width: 25rem;
    max-height: 15rem;
}

#sobre_texto{
    text-align: center;
    flex-basis: 50%;
    text-align: left;
}

#sobre_texto h1{
   font-weight: 800;
   font-size: 3.8rem;
   margin-bottom: 2rem;
   animation: aparece_texto .8s ease-out 0s 1 normal forwards;
}

#sobre_texto h3{
    font-size: 2.5rem;
    font-weight: 800;
    animation: aparece_texto .8s ease-out 0s 1 normal forwards;
}

#sobre_texto p{
    font-size: 1.3rem;
    margin-top: 2rem;
    text-align: justify;
    margin-top: 1rem;
    animation: aparece_texto .8s ease-out .0s 1 normal forwards;
}

@media all and (max-width: 912px){
    #sobre_main{
        flex-direction: column;
    }

    #sobre_main img{
        max-height: 20rem;
        max-width: 25rem;
    }

    #sobre_texto{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #sobre_texto h1{
        text-align: center;
        margin-bottom: 1rem;
    }

    #sobre_texto h3{
        text-align: center;
        font-size:2rem;
    }

    #sobre_texto p{
        text-align: center;
        font-size: 1.5rem;
        line-height: 1.8rem;
        font-weight:500;
    }

}